<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.developer.android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidApp">
        <activity android:name=".intents.runIntents.RunIntentSecondActivity"></activity>
        <activity android:name=".intents.runIntents.RunIntentMainActivity" />
        <activity android:name=".intents.ChangeIntentActivity" />
        <activity android:name=".intents.runIntents.RunLifecycle" />
        <activity android:name=".intents.ActivityLifecycle" />
        <activity
            android:name=".intents.IntentMain"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".toast.runToast.RunCustomToast" />
        <activity android:name=".toast.CustomToastActivity" />
        <activity android:name=".toast.runToast.RunPositionToast" />
        <activity android:name=".toast.PositionToastActivity" />
        <activity android:name=".toast.runToast.RunSimpleToast" />
        <activity android:name=".toast.SimpleToastActivity" />
        <activity
            android:name=".toast.ToastMain"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".runWidgets.RunAdapterViewFlipper" />
        <activity android:name=".widgets.AdapterViewFlipperActivity" />
        <activity android:name=".runWidgets.RunAlertDialog" />
        <activity android:name=".widgets.AlertDialogActivity" />
        <activity android:name=".runWidgets.RunCheckedTextView" />
        <activity android:name=".widgets.CheckedTextViewActivity" />
        <activity android:name=".runWidgets.RunScrollViewHor" />
        <activity android:name=".widgets.ScrollViewHorActivity" />
        <activity android:name=".runWidgets.RunScrollViewVer" />
        <activity android:name=".widgets.ScrollViewVerActivity" />
        <activity android:name=".runWidgets.RunTextSwitcher" />
        <activity android:name=".widgets.TextSwitcherActivity" />
        <activity android:name=".runWidgets.RunImageSwitcher" />
        <activity android:name=".widgets.ImageSwitcherActivity" />
        <activity android:name=".runWidgets.RunMultiCompleteTextView" />
        <activity android:name=".widgets.MultiCompleteTextViewActivity" />
        <activity android:name=".runWidgets.RunAutoCompleteTextView" />
        <activity android:name=".widgets.AutoCompleteTextViewActivity" />
        <activity android:name=".runWidgets.RunProgressBar" />
        <activity android:name=".widgets.ProgressBarActivity" />
        <activity android:name=".runWidgets.RunRatingBar" />
        <activity android:name=".widgets.RatingBarActivity" />
        <activity android:name=".runWidgets.RunSeekBar" />
        <activity android:name=".widgets.SeekBarActivity" />
        <activity android:name=".runWidgets.RunSpinner" />
        <activity android:name=".widgets.SpinnerActivity" />
        <activity android:name=".runWidgets.RunCustomCheckBox" />
        <activity android:name=".widgets.CustomCheckBoxActivity" />
        <activity android:name=".runWidgets.RunCheckBox" />
        <activity android:name=".widgets.CheckBoxActivity" />
        <activity android:name=".runWidgets.RunSwitch" />
        <activity android:name=".widgets.SwitchActivity" />
        <activity android:name=".runWidgets.RunImageButton" />
        <activity android:name=".widgets.ImageButtonActivity" />
        <activity android:name=".runWidgets.RunImageView" />
        <activity android:name=".widgets.ImageViewActivity" />
        <activity android:name=".runWidgets.RunRadioBtn" />
        <activity android:name=".widgets.RadioBtnActivity" />
        <activity android:name=".runWidgets.RunToggle" />
        <activity android:name=".widgets.ToggleActivity" />
        <activity android:name=".runWidgets.RunButton" />
        <activity android:name=".widgets.ButtonActivity" />
        <activity
            android:name=".runWidgets.RunEditText"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widgets.EditTextActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".widgets.WidgetsMain" />
        </activity>
        <activity
            android:name=".runWidgets.RunTextView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widgets.TextViewActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".widgets.WidgetsMain" />
        </activity>
        <activity
            android:name=".widgets.WidgetsMain"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>